---
title: EWI
bgcolor: "#E57D3C"
bgimage: "/images/gear-overlay.png"
splashtext: "<br> Evening With Industry"
---

.row.margin-bottom-m.img-panel{"data-equalizer" => ""}
	.large-12.columns{"data-equalizer-watch" => ""}
		%h2.center-text
			UCLA Evening with Industry 
			%b
				2018
.row{"data-equalizer" => "",  "data-equalize-on" => "767px"}
	.large-6.columns.content-img{"data-equalizer-watch" => ""}
		= image_tag "/images/ewi/program.jpg"
	.large-6.columns{"data-equalizer-watch" => ""}
		%p
			%br
			Evening with Industry (EWI) is the largest student-run networking event for 
			UCLA's School of Engineering, hosted exclusively by SWE during the Winter quarter. 
			It boasts an attendance of over 35 companies and 250 students annually. Company 
			representatives and students alike enjoy the unique networking style this event 
			provides - the night begins with networking over appetizers, after which students 
			enjoy connecting over a 3-course meal with representatives from a company they are 
			interested in. The night then ends with a private career fair where companies can 
			get connected with the other 200 students. 
			%br
			%br
			Check out our #{link_to 'Facebook page', 'https://www.facebook.com/ucla.swe.ewi/'} 
			for the latest updates on this year's EWI. 

.content-panel.row{"data-equalizer" => "",  "data-equalize-on" => "767px"}
	.large-4.columns{"data-equalizer-watch" => ""}
		= image_tag "/images/ewi/logo_2018.png"
	.large-8.columns{"data-equalizer-watch" => ""}
		%h2 
			Evening with Industry 2018
		%h3
			Thursday, February 1st
			%br 
			Carnesale Commons
			%br 
			%br 
			Event Photos
		%p
			For more, see our Facebook Album #{link_to 'here', 'https://www.facebook.com/pg/ucla.swe.ewi/photos/?tab=album&album_id=1368092109962125'} 
			or our photobooth pictures #{link_to 'here', 'http://galleries.proimagesllc.com/PRIMs-Photo-Booth/California/020118-SWE'}!
			
.row.margin-bottom-m{"data-equalizer" => ""}
	.large-12.columns{"data-equalizer-watch" => ""}
		.EWI-photo-1
			%img{:src => "/images/ewi/photo_1.jpg"}
		%p.center-text
		%br 
		.EWI-photo-2
			%img{:src => "/images/ewi/photo_2.jpg"}
		%p.center-text