---
title: SWE Board 2020-2021
bgcolor: "#E57D3C"
bgimage: "/images/gear-overlay.png"
splashtext: "<br> SWE Board 2020-2021"
---
- data.board.each do |e|
	.row
		.medium-12.columns
			.profile-card
				.row{"data-equalizer" => "",  "data-equalize-on" => "767px"}
					.medium-4.columns{"data-equalizer-watch" => ""}
						.profile-card-img{:style => "background-image:url(#{e["image"]});"}
					.medium-8.columns{"data-equalizer-watch" => ""}
						.profile-info
							%h2
								= e["position"]
							%h3
								= e["name"]
							%p
								%span.tag
									Year:
								= e["year"]
							%p
								%span.tag
									Major:
								= e["major"]
							// %p
							// 	%span.tag
							// 		Interests:
							// 	= e["interests"]
							// %p
							// 	%span.tag
							// 		What I Love About SWE:
							// 	= e["loves"]
