---
title: SWE UCLA
bgcolor: "#63B0BB"
bgimage: "/images/gear-overlay.png"
splashtext: "GradSWE"
---

.row.margin-bottom-m.img-panel{"data-equalizer" => ""}
    .large-12.columns{"data-equalizer-watch" => ""}
        %h1 About GradSWE
        %p 
            GradSWE at UCLA advocates for women graduate engineers and provides resources, tools, and opportunities for professional development and networking. GradSWE’s mission is to empower and assist women graduate engineers for professional achievement and will hold events, such as brown bag lunch panels, wine and cheese socials, free yoga sessions, tea time panels, and SWE webinar breaks. There will also be mentoring opportunities for GradSWE members to mentor K-12 and undergraduate students to increase awareness and excitement for STEM in future generations.
            %br
            %br
            Check out our #{link_to 'website', 'https://gradsweucla.wordpress.com/'}, #{link_to 'Facebook', 'https://www.facebook.com/gradsweatucla'}, #{link_to 'Google+', 'https://plus.google.com/u/0/109095046474738992485/posts/p/pub'}, and #{link_to 'Twitter', 'https://twitter.com/GradSWEUCLA'} for more information.
            %br
            %br
            To stay updated, join our #{link_to 'mailing list', 'http://eepurl.com/bk7AhP'}.