---
title: SWE UCLA
bgcolor: "#81c4ec"
bgimage: "/images/front-page-splash.jpg"
splashtext: "Aspire. <br> Advance. <br> Achieve."
---
.row.margin-bottom-m{"data-equalizer" => ""}
    .large-12.columns{"data-equalizer-watch" => ""}
        %h1.bold Announcements
        - data.announcements.each do |a|
            %article.content-panel.row.wide
                - if a["image"]
                    .large-4.columns
                        %img{:src => a["image"]}
                    .large-8.columns
                        %h2 
                            = a["title"]
                        %h5
                            = a["subtitle"]
                        %p
                            = a["description"]
                - else
                    .large-12.columns
                        %h2 
                            = a["title"]
                        %h5
                            = a["subtitle"]
                        %p
                            = a["description"]
   
.row.margin-bottom-m
    .large-6.columns
        %h1.bold Upcoming Events
        %br
        %h2 FALL QUARTER WEEK 9
        %ul.week-events
            - if data.events.size != 0
                - data.events.each do |e|
                    %li 
                        = e["description"]
                        - if e["fb"]
                            %a{:href => e["fb"], :title => "Facebook Event", "aria-hidden" => "true"} 
                                %i.fa.fa-facebook-square{"aria-hidden" => "true"}
                        - if e["link"]
                            %a{:href => e["link"], :title => "RSVP", "aria-hidden" => "true"} 
                                %i.fa.fa-link{"aria-hidden" => "true"}
            - else
                %p No SWE events this week!
        %p
            Check out our 
            %a{:href => "/swe/events/calendar"} calendar 
            for more upcoming events!
    .large-6.columns
        %h1.bold Join our mailing list!
        %p
            Never miss out on a SWE event or job/internship opportunities! If you missed it, check out all our old ones #{link_to 'here', 'http://us11.campaign-archive2.com/home/?u=577d9373840e4ffe2e76d32e1&id=e94638c22e'}. 
        = partial "mailchimp"
